<template>
  <q-btn-dropdown rounded flat class="bg-dark-with-opacity" icon="img:src/assets/MAKO-modified.png" no-caps
    label="Kiara Laredo">
    <q-list class="bg-secondary text-white q-pa-xs">
      <AccountLink v-for="item in itemsList" :key="item.title" v-bind="item" />
      <q-separator dark />
      <AccountLink title="Cerrar sesión" />
    </q-list>
  </q-btn-dropdown>
  <q-tooltip anchor="top middle" self="bottom middle">
    Kiara Laredo
  </q-tooltip>
</template>


<script>
import { defineComponent } from 'vue'
import AccountLink from '../links/AccountLink.vue';
import { itemsList } from '../../utils/accountItemsList';

export default defineComponent({
  name: "DropdownButton",
  components: {
    AccountLink
  },
  setup() {
    return {
      AccountLink,
      itemsList: itemsList,
    }
  }
})
</script>
