<template>
  <q-btn round text-color="#b3b3b3" size="12px" class="button-disabled q-mr-sm" disable :icon="icon" />
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: "NavigationButton",
  props: {
    icon: {
      type: String,
      default: ''
    }
  }
})
</script>
