<template>
  <q-btn flat class="q-pa-none" :size="size">
    <q-icon :name="icon" />
    <q-tooltip anchor="top middle" self="bottom middle">
      {{ description }}
    </q-tooltip>
  </q-btn>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: "TooltipButton",
  props: {
    description: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      default: ""
    },
    size: {
      type: String,
      default: ""
    }
  }
});
</script>
