<template>
  <div class="container bg-primary">
    <div class="row justify-between">
      <q-item-label class="secondary-text text-white q-mb-md">
        De viaje por México
      </q-item-label>
      <q-item-label class="text-uppercase show-playlist">
        Mostrar todos
      </q-item-label>
    </div>
    <q-list class="row q-col-gutter-x-lg no-wrap overflow-hidden">
      <PlaylistCardSuggested v-for="playlist in suggestedPlaylists" :key="playlist.title" v-bind="playlist" />
    </q-list>
  </div>
</template>

<script>

import { defineComponent } from 'vue'
import PlaylistCardSuggested from '../cards/PlaylistCardSuggested.vue';
import { suggestedPlaylists } from 'src/utils/suggestedPlaylistList';

export default defineComponent({
  name: "PlaylistSuggested",
  components: {
    PlaylistCardSuggested
  },
  setup() {
    return {
      suggestedPlaylists: suggestedPlaylists,
    }
  }
})
</script>
