<template>
  <q-list class="row q-col-gutter-x-md q-col-gutter-y-sm">
    <PlaylistCardPlayed v-for="playlist in playedPlaylist" :key="playlist.title" v-bind="playlist" />
  </q-list>
</template>

<script>
import { defineComponent } from 'vue'
import { playedPlaylist } from 'src/utils/playedPlaylistList.js';
import PlaylistCardPlayed from 'src/components/cards/PlaylistCardPlayed.vue';

export default defineComponent({
  name: "PlaylistRecentlyPlayed",
  components: {
    PlaylistCardPlayed
  },
  setup() {
    return {
      playedPlaylist: playedPlaylist
    }
  }
})
</script>
