<template>
  <q-item clickable tag="a" target="_blank" dense :href="link">
    <q-item-section>
      <q-item-label class="text-white ellipsis-one-line">{{ title }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PlaylistFavorited',
  props: {
    title: {
      type: String,
      required: true
    },
    link: {
      type: String,
      default: '#'
    },
    image: {
      type: URL,
      default: ''
    }
  }
})
</script>
