<template>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <q-card class="bg-card padding cursor-pointer full-height">
      <q-card-section>
        <q-img class="rounded-borders full-width q-mb-sm" :src="image" />
        <div class="card-title q-pa-none ellipsis-one-line">
          {{ title }}
        </div>
        <div class="card-caption elipsis-two-lines">
          {{ caption }}
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: "PlaylistCardSuggested",
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    image: {
      type: URL,
      default: ''
    }
  }
})
</script>
