<template>
  <div class="col-md-4 col-sm-6">
    <q-card class="card-played cursor-pointer" flat bordered>
      <q-card-section horizontal>
        <q-img class="col-lg-3 col-md-4 col-sm-3" :src="image" />
        <q-card-section class="text-white single-caption-card self-center">
          <div class="elipsis-two-lines">
            {{ title }}
          </div>
        </q-card-section>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: "RecentlyPlayed",
  props: {
    title: {
      type: String,
      required: true
    },

    image: {
      type: String,
      default: ''
    }
  }
})
</script>
