<template>
  <q-drawer show-if-above side="left" :width="241" behavior="desktop" class="bg-dark q-px-sm">
    <q-item-label header>
      <img alt="Spotify logo" src="src/assets/spotify-white-logo.png" style="height: 60px; margin-left: -10px;">
    </q-item-label>
    <DrawerEssentialLinks />
    <DrawerPlaylistLinks />
    <q-separator dark />
    <ScrollableList />
    <EssentialLink title="Instalar app" icon="download_for_offline" />
  </q-drawer>
</template>

<script>
import { defineComponent } from 'vue'
import EssentialLink from 'src/components/links/EssentialLink.vue'
import DrawerEssentialLinks from '../links/drawer/DrawerEssentialLinks.vue'
import DrawerPlaylistLinks from '../links/drawer/DrawerPlaylistLinks.vue'
import ScrollableList from '../ScrollableList.vue'
import CreatePlaylist from '../CreatePlaylist.vue'

export default defineComponent({
  name: 'DrawerSection',
  components: {
    EssentialLink,
    ScrollableList,
    CreatePlaylist,
    DrawerEssentialLinks,
    DrawerPlaylistLinks
  },
})
</script>
