<template>
  <q-footer bordered class="row bg-dark-page q-pt-sm q-pb-none">
    <q-toolbar class="col-3 justify-start q-gutter-md">
      <q-img src="src/assets/la-vida-spotify.png" style="height: 56px; width: 56px;" />
      <div class="column">
        <div class="song-title">La Vida Es Un Carnaval</div>
        <div class="song-artist">Celia Cruz</div>
      </div>
      <TooltipButton v-for="icon in iconsFooter" :key="icon.description" v-bind="icon"/>
    </q-toolbar>
    <q-toolbar class="col-6 ">
      <MusicPlayer />
    </q-toolbar>
    <q-toolbar class="col-3 q-gutter-x-sm justify-end">
      <TooltipButton v-for="icon in iconsVolume" :key="icon.description" v-bind="icon" />
      <q-slider v-model="volume" dark color="white" :min="0" :max="10" />
      <TooltipButton description="Abrir en pantalla completa" icon="open_in_full" size="sm" />
    </q-toolbar>
  </q-footer>
</template>

<script>
import { defineComponent, ref } from 'vue'
import TooltipButton from '../button/TooltipButton.vue';
import MusicPlayer from '../MusicPlayer.vue';
import { iconsVolume, iconsFooter } from 'src/utils/iconList';

export default defineComponent({
  name: 'FooterSection',
  components: {
    TooltipButton,
    MusicPlayer
  },
  setup() {
    return {
      time: ref(20),
      volume: ref(10),
      iconsVolume: iconsVolume,
      iconsFooter: iconsFooter
    }
  }
})
</script>
