<template>
  <q-header class="bg-accent">
    <q-toolbar class="justify-between">
      <div class="q-pa-md q-gutter-sm">
        <NavigationButton icon="chevron_left" />
        <NavigationButton icon="chevron_right" />
      </div>
      <div class="q-pa-md q-gutter-sm">
        <DropdownButton />
      </div>
    </q-toolbar>
  </q-header>
</template>

<script>
import { defineComponent } from 'vue'
import NavigationButton from '../button/NavigationButton.vue';
import DropdownButton from '../button/DropdownButton.vue';

export default defineComponent({
  name: 'HeaderSection',
  components: {
    NavigationButton,
    DropdownButton
  }
})
</script>
