<template>
  <q-page class="full-height full-width gradient">
    <div class="container gradient main-section">
      <TitleComponent />
      <PlaylistRecentlyPlayed />
    </div>
    <PlaylistSuggested />
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import TitleComponent from 'components/Title.vue'
import PlaylistRecentlyPlayed from 'src/components/playlists/PlaylistRecentlyPlayed.vue';
import PlaylistSuggested from 'src/components/playlists/PlaylistSuggested.vue';

export default defineComponent({
  name: 'IndexPage',
  components: {
    TitleComponent,
    PlaylistRecentlyPlayed,
    PlaylistSuggested,
  }
})
</script>
