<template>
  <q-item>
    <q-item-section avatar>
      <q-icon name="add_box" size="30px" color="grey" />
    </q-item-section>
    <q-item-section>
      <q-item-label class="text-bold text-white">Crear lista</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: "CreatePlaylist"
})
</script>
