<template>
  <div class="column full-width">
    <div class="row justify-center self-center">
      <q-list class="q-gutter-x-md">
        <TooltipButton v-for="icon in iconsMedia" dense :key="icon.description" v-bind="icon" />
      </q-list>
    </div>
    <div class="justify-center">
      <SongSlider />
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import TooltipButton from '../components/button/TooltipButton.vue'
import SongSlider from '../components/SongSlider.vue'
import { iconsMedia } from 'src/utils/iconList';

export default defineComponent({
  name: 'FooterSection',
  components: {
    TooltipButton,
    SongSlider
  },
  setup() {
    return {
      iconsMedia: iconsMedia,
    }
  }
})
</script>
