<template>
  <q-list class="q-mt-md">
    <q-scroll-area style="height: 250px; width: 100%;">
      <PlaylistFavorited v-for="playlist in favoritePlaylist" :key="playlist.title" v-bind="playlist" />
    </q-scroll-area>
  </q-list>
</template>

<script>
import { defineComponent } from 'vue'
import PlaylistFavorited from './playlists/PlaylistFavorited.vue'
import { favoritePlaylist } from '../utils/favoritePlaylistList'

export default defineComponent({
  name: 'ScrollableList',
  components: {
    PlaylistFavorited
  },
  setup() {
    return {
      favoritePlaylist: favoritePlaylist
    }
  }
})
</script>
