<template>
  <q-item>
    <q-item-section side>
      <div class="media-label">0:32</div>
    </q-item-section>
    <q-item-section>
      <q-slider dense v-model="time" color="white" readonly :min="0" :max="30" />
    </q-item-section>
    <q-item-section side>
      <div class="media-label">4:37</div>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'SongSlider',
  setup() {
    return {
      time: ref(20),
      volume: ref(10),
    }
  }
})
</script>
