<template>
  <div class="primary-text text-white q-mb-md">¡Buenas noches!</div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TitleComponent',
})
</script>
