<template>
  <div class="q-mb-sm">
    <CreatePlaylist />
    <q-list>
      <PlaylistLink v-for="playlist in playlistList" :key="playlist.title" v-bind="playlist" />
    </q-list>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import PlaylistLink from '../PlaylistLink.vue'
import CreatePlaylist from '../../CreatePlaylist.vue'
import { playlistList } from '../../../utils/playlistList'

export default defineComponent({
  name: 'DrawerPlaylistLinks',
  components: {
    PlaylistLink,
    CreatePlaylist,
  },
  setup() {
    return {
      playlistList: playlistList,
    }
  }
})
</script>
