<template>
  <q-list class="q-mb-md">
    <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />
  </q-list>
</template>

<script>
import { defineComponent } from 'vue'
import EssentialLink from 'src/components/links/EssentialLink.vue'
import { essentialLinks } from '../../../utils/essentialLinkList'

export default defineComponent({
  name: 'DrawerEssentialLinks',
  components: {
    EssentialLink,
  },
  setup() {
    return {
      essentialLinks: essentialLinks,
    }
  }
})
</script>
