@font-face {
  font-family: freesans-bold;
  src: url(./fonts/FreeSansBold.ttf);
}

.primary-text {
  font-family: 'freesans-bold';
  font-size: 2rem;
  font-weight: 400;
}

.secondary-text {
  font-family: 'freesans-bold';
  font-size: 1.5rem;
  font-weight: 700;
}

.main-section {
  height: auto;
  background-color: $primary;
}

.single-caption-card {
  font-size: 1rem;
  font-weight: 600;
}

.gradient {
  background: linear-gradient(to bottom, $accent, $primary);
}

.bg-card {
  background-color: $dark-opacity;
  min-width: 100px;
  min-height: 170px;
}

.bg-card :hover {
  background-color: $dark-opacity-hover;
}

.card-played {
  width: 100%;
  min-width: 170px;
  min-height: 60px;
  background-color: $card-played-background;
}

.card-played :hover{
  background-color: $card-played-hover;
}

.show-playlist {
  color: #b3b3b3;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}

.container {
  padding: 24px 32px 0px;
}

.button-disabled {
  background-color: $btn-disabled;
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
          line-clamp: 1;
  -webkit-box-orient: vertical;
}

.elipsis-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  max-width: 150px;
}

.card-caption {
  color: #b3b3b3;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 8px 0 0;
}

.bg-dark-with-opacity {
  background-color: $dark-little-opacity;
  padding: 0px 5px 0px 0px;
}

.song-title {
  font-size: 0.875rem;
  color: white;
}

.song-artist {
  font-size: 0.6875rem;
  color: #B3B3B3;
}

.media-label {
  font-size: 0.6875rem;
}
