$primary : #121212;
$secondary : #252525;
$accent    : #1D0E43;

$dark      : #000000;
$dark-page : #181818;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$dark-opacity: #1818189a;
$dark-little-opacity: #000000e5;
$dark-opacity-hover: #363636;

$card-played-background: #2C2832;
$card-played-hover: #474243;

$btn-disabled: #000000a2;
