<template>
  <q-layout view="lHh lpR fFf">
    <HeaderSection />
    <DrawerSection />
    <q-page-container>
      <router-view />
    </q-page-container>
    <FooterSection />
  </q-layout>
</template>

<script>
import { ref } from 'vue'
import HeaderSection from 'src/components/layout/Header.vue'
import DrawerSection from 'src/components/layout/Drawer.vue'
import FooterSection from 'src/components/layout/Footer.vue'

export default {
  components: {
    HeaderSection,
    DrawerSection,
    FooterSection
  },

  setup() {
    const leftDrawerOpen = ref(false)
    return {
      leftDrawerOpen,
      HeaderSection,
      DrawerSection,
      FooterSection
    }
  }
}
</script>
